root = true

[*.cs]
# Indentation using a tab equivalent to 4 spaces
indent_style = tab
indent_size = 4

# Switch cases are indented unless the contents are blocks
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false

# Always surround single-statement blocks with braces
csharp_prefer_braces = true:error

# Require explicit access modifiers
dotnet_style_require_accessibility_modifiers = always:suggestion

# Display external references at the bottom
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Use pattern-matching shorthand where appropriate
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion

# Suggest explicit type names "String.Empty" over "string.Empty"
dotnet_style_predefined_type_for_member_access = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = false:suggestion

# Suggest adding "readonly" when fields appear immutable
dotnet_style_readonly_field = true:suggestion

# Preferred shorthand
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:none # prefer implicit new, but do not enforce

# Member qualification
dotnet_style_qualification_for_field = true:none
dotnet_style_qualification_for_property = true:none
dotnet_style_qualification_for_method = true:none
dotnet_style_qualification_for_event = true:none

# Other
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
dotnet_style_collection_initializer = true:suggestion # IDE0028: Simplify collection initialization
csharp_style_expression_bodied_methods = when_on_single_line:none # Allow expression-bodied methods
dotnet_style_object_initializer = true:suggestion # IDE0017: Simplify object initialization
csharp_style_prefer_range_operator = true:suggestion # IDE0057: Simplify substrings using range-operator
dotnet_style_readonly_field = true:none # fields should be readonly if never modified

# Disabled warnings
dotnet_diagnostic.IDE0007.severity = none # use var instead of explicit type
dotnet_diagnostic.IDE0007.severity = none # use explicit type instead of var
dotnet_diagnostic.IDE0090.severity = none # use simplified object creation
dotnet_diagnostic.IDE0057.severity = suggestion # range operator

# Suggestions
dotnet_diagnostic.CA1303.severity = suggestion # Do not pass literals as localized parameters
dotnet_diagnostic.CA1825.severity = suggestion # Avoid zero-length array allocations.

# Allow use of 'var'
csharp_style_var_elsewhere = true:none
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = true:none
